/*!
 * Start Bootstrap - Full (https://startbootstrap.com/template-overviews/full)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-full/blob/master/LICENSE)
 */


.inGrid .container{max-width: 1280px;}


/*header*/
nav.navbar.navbar-expand-lg.navbar-light.fixed-top.white {    background: #fff;}
a.nav-link {    font-size: 18px;    font-weight: 600;}
ul.navbar-nav {    margin: 0 auto;}
li.nav-item {    padding: 0 25px;}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {color: #BA5C82 !important;}
a.nav-link:only-child:after {    content: "";}
a.nav-link:after {    content: "\21E3";     position: relative;    right: -9px;}

@media only screen and (max-width: 767px){
.navbar-toggler:not(:disabled):not(.disabled) { position: relative;    right: 45px;}
.astm-search-menu {top: 50px;}
}

/*four box*/
.fboxes {    margin-top: 30px;}
.card-body.f-box-card-body {    padding: 15px;}
.card-body.f-box-card-body h4 {    text-align: center;margin-bottom: 0px;}
.ws-box {    margin-bottom: 25px;}

.fb-wrap {
    position: relative;
    width: 100%; background: #000;
}

.fb-img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.fb-middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.fb-wrap:hover .fb-img {
  opacity: 0.8;
}

.fb-wrap:hover .fb-middle {
  opacity: 1;
}

.fb-icon {
  padding: 16px 32px;
}


/*Testimonial*/

section#testimonial {
    
    background-size: cover;
    padding-top: 8rem !important;
    padding-bottom: 10rem !important;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #ba5c82;
}

.testi .owl-carousel {
	background-image: url('/whisq/wp-content/themes/whisq/assets/images/icon_1.png');
    background: rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 81px 70px 25px;
    text-transform: uppercase;
    font-size: 19px;
    font-weight: 500;
}
.testi .owl-dots {
    position: absolute;
    right: 0;
    margin-top: 35px !important;
}

.testi img {
    position: relative;
    top: 15px;
    left: 20px;
    z-index: 2;
}



/*Recipe*/
#recipe .recipe-item h4{text-align: center; color:#ba5b83;}
.header-title {    text-align: center;    color: #ba5b83;}
.headet-sub-text {    text-align: center;    padding-top: 20px;    padding-bottom: 40px;}
section#recipe {    background: #f7f7f7;    padding: 50px 0px 50px 0px;}
.card-body {      padding: 60px;}





/*Footer*/
.copyright {    text-align: center;}
section#footer {    background: #ebebeb;}
.copyright p {    margin-top: 15px;}
section#footer {    background: #ebebeb;    margin: 0px 0px 0px;}


/*Menu Nav CSS*/
.modal-body form {    text-align: center;}
#mega-menu-wrap-menu-1 {
    clear: both;
    width: 100% !important;
    background: transparent !important;
}

#mega-menu-wrap-menu-1 #mega-menu-menu-1{text-align:center !important;}
    
#mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-item > a.mega-menu-link {
    color: rgba(0,0,0,0.5) !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    padding: 0 30px !important;
}

#mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-item.mega-toggle-on > a.mega-menu-link,
#mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-item > a.mega-menu-link:hover,
#mega-menu-wrap-menu-1 #mega-menu-menu-1 > li.mega-menu-item > a.mega-menu-link:focus{
    background: transparent !important;
    color: #BA5C82 !important;
}

#mega-menu-wrap-menu-1 .mega-menu-toggle .mega-toggle-block-1:after {
    display:none;
}
#mega-menu-wrap-menu-1 .mega-menu-toggle .mega-toggle-block-1:before {
    content: '\f333';
    font-family: 'dashicons';
    font-size: 24px;
    margin: 0 0 0 5px;
    color: red;
}

li.astm-search-menu.astm-search-menu.dropdown {
    display: inline-block;
    top: 9px;
  }
    

li.astm-search-menu.astm-search-menu.dropdown a{color: rgba(0,0,0,0.5) !important;}
a#deskSearch {
    color: #7f7f7f;
}
@media only screen and (max-width: 767px){
      nav.navbar .container a {
          text-align: center !important;
          display: block;
          width: 100%;
      }
      .si-wrap {
        display: inline-block;
        float: left;
        margin-left: 11px;
        cursor:pointer;
      }

      .si-wrap i {
        color:#fff;
      }
      a#deskSearch {
        display: none;
      }
      #mega-menu-wrap-menu-1 .mega-menu-toggle {
          background: #BA5C82 !important;
       }
}